<header>
    <img class="main-logo center-block" src="images/header-title.png" alt="שאלו את הרפתנים והצוות" />
    <nav>
        <a active-tab ui-sref="questions">מה תרצו לדעת?</a>
        <a active-tab ui-sref="articles">בואו לקרוא</a>
        <a active-tab ui-sref="videos">בואו לצפות</a>
    </nav>
</header>