<div class="site-content">
    <div class="questions-menu">
        <div class="swiper-container" dir="rtl">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <a href="#">
                        <div class="question-box thumbnail">
                            <div class="caption">
                                <h5>מה זה חלב משק?</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <div class="question-box thumbnail">
                            <div class="caption">
                                <h5>מדוע החלב הזה טוב יותר לצרכנים מאשר החלב הרגיל של תנובה?</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <div class="question-box thumbnail">
                            <div class="caption">
                                <h5>איך יודעים שהחלב של המתחרים הוא לא חלב משק?</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <div class="question-box thumbnail">
                            <div class="caption">
                                <h5>האם בכוונתכם להרחיב את המהלך למוצרים אחרים – גבינות/שוקו? </h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <div class="question-box thumbnail">
                            <div class="caption">
                                <h5>מה זה חלב משק?</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <div class="question-box thumbnail">
                            <div class="caption">
                                <h5>מה זה חלב משק?</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <div class="question-box thumbnail">
                            <div class="caption">
                                <h5>מה זה חלב משק?</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <div class="question-box thumbnail">
                            <div class="caption">
                                <h5>מה זה חלב משק?</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <div class="question-box thumbnail">
                            <div class="caption">
                                <h5>איזה ערכים תזונתיים השתפרו?</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <div class="question-box thumbnail">
                            <div class="caption">
                                <h5>מה זה חלב משק?</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#">
                        <div class="question-box thumbnail">
                            <div class="caption">
                                <h5>מה זה חלב משק?</h5>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
            <!-- Add Pagination -->
            <!-- <div class="swiper-pagination"></div> -->
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>

        <div class="question-input-container">
            <form class="question-search" action="index.html" method="post">
                <div class="form-group">
                    <label for="questionInput" class="text-center">מה תרצו לדעת?</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="questionInput" placeholder="">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
